<h2><i class="fa fa-edit"></i> Editar Configuración</h2>

<%= render 'form' %>

<%= link_to @complaint ,:class=> "btn btn-warning btn", :role=>"button" do%>
	<i class="fa fa-file-text"> Mostrar</i>
<% end -%>  &nbsp
<%= link_to complaints_path, :class=> "btn btn-danger btn", :role=>"button" do %>
	<i class="fa fa-arrow-left"> Volver</i>
<% end -%>
