<h2><i class="fa file-o"></i>Nueva configuracion</h2>

<%= render 'form' %>


<%= link_to configuracions_path, :class=> "btn btn-danger btn", :role=>"button" do %>
	<i class="fa fa-arrow-left"> Volver</i>
<% end -%>
